<section class="container my-5" >
    <h1>Viajes</h1>
    <hr>
    <div class="row">
        <div class="filters col-12 col-md-3">
            <aside class="my-3">        
                <label for="category">Categoría</label>
                <select class="form-select" (change)="getCategory($event)">
                   <option value = "cat">Selecciona una categoría</option>
                   <option [value]="category.title" *ngFor="let category of arrCategories">{{category.title}}</option>
                </select>        
            </aside>
        </div>
        <div class="col-12 col-md-9 row">
            <article class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let post of arrPosts">
                <app-blog-component [item] = 'post'></app-blog-component>
            </article>
        </div>
    </div>
</section>



 

    
  
