<section class="container my-4">  
    <div class="my-4">
        <!--Categories Filter-->
        <select class="form-select col-4">
            <option selected>Select the post categories</option>
            <option value="playa">Playa</option>
            <option value="montaña">Montaña</option>
            <option value="ciudad">Ciudad</option>
            <option value="rural">Rural</option>
            <option value="festivales">Festivales</option>
        </select>
    </div> 
</section>

<section class="container my-4">
    <!--Posts-->
    <div class="border border-3 border-danger my-4 p-3">
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic deserunt quisquam similique voluptatibus modi doloremque asperiores animi, totam sapiente consectetur, incidunt repellendus velit facilis neque aperiam vel expedita! Debitis, officia!</p>
    </div>  
</section>
    
  
