<header class="shadow">
    <nav class="navbar navbar-dark bg-secondary border-3 border-bottom border-primary justify-content-center">
        <span class="container-fluid navbar-brand mb-0 h1">
            <a class="nav-link border border-3 border-primary rounded-pill bg-dark ms-4" [routerLink]="['/home']" routerLinkActive="active">Your travel Blog</a>
            <ul class="nav justify-content-center ms-auto">
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/new',]">New Post</a>
                </li>
            </ul>
        </span>
    </nav> 
    <div class="worldImage">
      <img src="https://images.pexels.com/photos/269724/pexels-photo-269724.jpeg?auto=compress&cs=tinysrgb&w=1260&h=100&dpr=1" alt="world ball">
    </div> 
</header>
<main class="row">
    <router-outlet></router-outlet>
</main>
<footer class="fixed-bottom bg-secondary text-light text-center p-2">
  <span class="navbar-brand mb-0 h1">
    Your travel Blog ©2022
  </span>
</footer>

